    <div class="container">    
        <div class="row">
            <div class="col-md-12 text-center display-2">
                <div><img src="assets/img/burger.png" width="150"></div>
                <div class="display-4 mb-4">Eat-Da-Burger</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="form-group">
                    <label for="burgerName">Enter the Burger you want to eat!</label>
                    <input type="text" id="burgerName" name="name">
                </div>
                <div id="btnSubmit" class="text-center">
                    <button type="submit" class="btn">Submit</button>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6 text-center display-5">
                Burgers to Devour
            </div>
            <div class="col-md-6 text-center display-5">
                Devoured Burgers
            </div>
        </div>
